body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;

}
.span_stud {
  color: #2e2f42;
}
.nav_link{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em ;
  color: #2e2f42;
  padding: 24px 0;

}
.nav_link:hover{
  color: #404bbf
}
.nav_link:focus {
  color: #404bbf;
} 
/* .href {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em ;
  color: #2e2f42;

} */

.address {
  font-style: normal;
  
  
}
/* 
.href:hover {
  color: #404bbf;
}
.href:focus {
  color: #404bbf;
} */
.section {
  background-color: #2e2f42;
}
/* .h-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;


  
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
} */

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.address_link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address_link:hover {
  color: #404bbf;
}
.address_link:focus {
  color: #404bbf;
}
.section_two_h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

}
.parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.h_sec_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.p_sec_three {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.sec_f {
  background-color: #f4f4fd;
}
.h_sec_f {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.li_sec_f {
  background-color: #ffffff;
}
.hthree_sec_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.p_sec_f {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.sec_ff {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.h-three_sec_ff {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.p_sec_ff {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer_span {
  color: #f4f4fd;
}
.footer_p {            
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
img {
  display: block;

}
.header {
  border-bottom: 1px solid #e7e9fc
}
.header_div {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}
div{
  display: flex
}
.header_nav {
  display: flex;
  align-items: center;

}
.ull {
  display: flex;
  gap: 40px;
  

}
.address_ul {
  gap: 40px;
  display: flex;
}
address {
  
}